.title{
  text-align: center;
}

.sample-form{
  width: 50%;
  margin: 0 auto;
}

.sample-form, .loading{
  text-align: center;
}


body {
  background-image: linear-gradient(pink, lavender, lightgrey);
}

.messages{
  text-align: center
}

.messages > div {
    display: grid;
    overflow: hidden;
    text-align: center;
    color: black;
    border-style:ridge;
    border-color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;
    margin: auto;
  }